estimation-data-services/src/main/resources/schema/EstnInspection .xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/EstnInspection" xmlns:tns="http://www.example.org/EstnInspection" elementFormDefault="qualified">

<complexType name="EstnInspectionRequest">
		<sequence>
			<element name="estimationId" type="decimal" minOccurs="0"></element>
			<element name="branchId" type="string" minOccurs="0"></element>
			<element name="ssoId" type="string" minOccurs="0"></element>
		</sequence>
	</complexType>
	
</schema>