estimation-data-services/src/main/resources/schema/FetchCustEquipmentDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/FetchCustEquipmentDetails" xmlns:tns="http://www.example.org/FetchCustEquipmentDetails" elementFormDefault="qualified">

<complexType name="FetchEquipmentRequest">
		<sequence>
			<element name="customerNr" type="int" minOccurs="0"></element>
			<element name="custCmpNr" type="int" minOccurs="0"></element>
		</sequence>
	</complexType>
	
</schema>