asset-data-services/src/main/resources/schema/thirdPartyEquip/EquipTyreReading.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/EquipReading" xmlns:tns="http://www.example.org/EquipReading" elementFormDefault="qualified">
	<complexType name="EquipTyreReadingRequest">
		<sequence>
			<element name="Equipment_Nr" type="int" minOccurs="0"></element>
			<element name="Lang_Id" type="int" minOccurs="0"></element>
		</sequence>
	</complexType>
</schema>