estimation-crud-services/src/main/resources/schema/AddPipeline.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/AddPipeline" xmlns:tns="http://www.example.org/AddPipeline" elementFormDefault="qualified">
	<complexType name="PipelineRequest">
		<sequence>
			<element name="estimationId" type="decimal" minOccurs="0"></element>
			<element name="branchId" type="string" minOccurs="0"></element>
			<element name="ssoId" type="string" minOccurs="0"></element>
		</sequence>
	</complexType>
</schema>