estimation-crud-services/src/main/resources/schema/AddTransaction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/AddTransaction" xmlns:tns="http://www.example.org/AddTransaction" elementFormDefault="qualified">
	<complexType name="TransactionRequest" >
		<sequence>
			<element name="estimationId" type="decimal" minOccurs="0"></element>
			<element name="transCd" type="string" minOccurs="0"></element>
			<element name="amount" type="double" minOccurs="0"></element>
			<element name="ssoId" type="string" minOccurs="0"></element>
		</sequence>
	</complexType>
</schema>