workorder-data-services/src/main/resources/schema/RplannerWpDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/RplannerWpDetails" xmlns:tns="http://www.example.org/RplannerWpDetails" elementFormDefault="qualified">
	<complexType name="WpRequest">
		<sequence>
			<element name="workPackNr" type="decimal" minOccurs="0"></element>
			<element name="langId" type="int"	minOccurs="0"></element>
		</sequence>
	</complexType>
</schema>