workorder-data-services/src/main/resources/schema/WoHistoryRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/WoHistoryRequest" xmlns:tns="http://www.example.org/WoHistoryRequest" elementFormDefault="qualified">
<complexType name="WorkOrderRequest">
		<sequence>
			<element name="Work_Pack_Nr" type="decimal" minOccurs="0"></element>
			<element name="Wp_Opened_Date" type="string" minOccurs="0"></element>  
			<element name="Group_Cd" type="string" minOccurs="0"></element>
			<element name="Unit_Nr" type="int" minOccurs="0"></element>
		</sequence>
	</complexType>
</schema>