ElasticDataServices/src/main/resources/schema/SaveEquipmentOther.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/SaveEquipmentOther" xmlns:tns="http://www.example.org/SaveEquipmentOther" elementFormDefault="qualified">
	
	<complexType name="SaveEquipOtherRequest">
		<sequence>
			<element name="Unit_Nr" type="int" minOccurs="0"></element>
			<element name="Unit_Last_Park_Loc_Cd" type="string" minOccurs="0"></element>
			<element name="Branch_Nr" type="int" minOccurs="0"></element>
		</sequence>
	</complexType>
	
	
</schema>